<!-- <div class="input-group mb-3">
    <ng-select class="form-control" [options]="entitiesArray" [(ngModel)]="selectedEntity" (selected)="onEntitySelected($event)">
    </ng-select>
</div> -->

<div class="d-flex mb-3">
    <div class="ml-0"><button (click)="add()" type="button" class="btn btn-block btn-warning"><i class="fa fa-plus"></i>&nbsp; Ajouter</button></div>
    <div class="ml-1 mr-1"><button (click)="refresh()" type="button" class="btn btn-block btn-warning"><i class="fa fa-refresh"></i>&nbsp; Rafraichir</button></div>
    <div class="d-block" class="input-group">
        <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Votre recherche" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"
            autocomplete="off">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
</div>

<div fill-height>

    <ag-grid-angular enableColResize style="width: 100%; height: 100%" class="ag-custom" [enableFilter]="true" [rowData]="rowData" [columnDefs]="columnDefs" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)">
    </ag-grid-angular>

</div>